.animation
  background-color: $mainTheme
  height: 100vh
  font-family: 'Rufina', Arial, serif;

  &-controls
    position: absolute
    padding: 20px
    z-index: 10

    &__button
      background-color: $darkGray
      padding: 5px 10px 

      font-size: 16px
      color: $mainTheme

      border: 1px solid $darkGray
      border-radius: 5px
      cursor: pointer

      &:hover
        background-color: $mainTheme
        color: $darkGray

      &:focus
        outline: none

  &-canvas
    height: 100%
    width: 100%
    position: absolute
    z-index: 10

  &-titles
    position: relative
    height: 100%
    width: 100%
    font-size: 22px
    +r(800) 
      font-size: 18px

    &__wrapper
      position: absolute
      max-width: fit-content
      width: fit-content
      overflow: hidden
      z-index: 10

    &__content
      position: relative
      left: -100%
      pointer-events: none;

      &_right
        left: auto
        right: -100%

    &__header
      color: $darkGray
      padding-left: 15px

      &_left
        padding-left: 30px

    &__text
      line-height: 27px
      padding: 0 30px 2px 15px
      border-radius: 8px 0 0 8px
      +r(800) 
        line-height: 20px
      
      &_right
        padding: 0 15px 2px 30px
        border-radius: 0 8px 8px 0

#path
  fill: #000000
  stroke-width: 1px
  position: absolute
  top: 0
  z-index: 200