<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Vadain</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#fff"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" media="all" href="css/app.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rufina:wght@700&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- BEGIN animation -->
    <div class="animation">
      <!-- BEGIN animation-canvas -->
      <div class="animation-canvas js-container">
        
      </div>
      <!-- END animation-canvas -->
      <div class="animation-controls">
        <button class="animation-controls__button js-play">Play</button>
        <button class="animation-controls__button js-stop">Stop</button>
      </div>
      <!-- BEGIN animation-titles -->
      <div class="animation-titles js-titlesContainer">
        <div class="animation-titles__wrapper js-title">
          <div class="animation-titles__content animation-titles__content_right js-content">
            <p class="animation-titles__header">
              Collection
            </p>
            <p class="animation-titles__text js-text">
              Family living
            </p>
          </div>
        </div>
        <div class="animation-titles__wrapper js-rightTitle js-title">
          <div class="animation-titles__content js-rightTitle js-content">
            <p class="animation-titles__header animation-titles__header_left">
              Collection
            </p>
            <p class="animation-titles__text animation-titles__text_right js-text">
              Luxurious living
            </p>
          </div>
        </div>
        <div class="animation-titles__wrapper js-rightTitle js-title">
          <div class="animation-titles__content  js-rightTitle js-content">
            <p class="animation-titles__text animation-titles__text_right js-text">
              Marketing and inspiration
            </p>
          </div>
        </div>
        <div class="animation-titles__wrapper  js-title">
          <div class="animation-titles__content animation-titles__content_right js-content">
            <p class="animation-titles__text js-text">
              Some room
            </p>
          </div>
        </div>
        <div class="animation-titles__wrapper js-title">
          <div class="animation-titles__content animation-titles__content_right js-content">
            <p class="animation-titles__text js-text">
              Training and education
            </p>
          </div>
        </div>
        <div class="animation-titles__wrapper js-rightTitle js-title">
          <div class="animation-titles__content js-rightTitle js-content">
            <p class="animation-titles__header animation-titles__header_left">
              Collection
            </p>
            <p class="animation-titles__text animation-titles__text_right js-text">
              Youtful living
            </p>
          </div>
        </div>
      </div>
      <!-- END animation-titles -->
    </div>
    <!-- BEGIN animation-block -->
    <svg viewBox="-20 0 560 245">
      <path id="path" d="M-20.789,256.739 C11.202,251.688 33.027,174.17 105.7,166.812 169.055,160.397 193.969,180.404 236.403,190.326 282.506,201.055 324.503,194.852 357.807,164.01 437.226,90.459 484.738,-6.225 555.489,5.35"/>
    </svg>
    <!-- BEGIN scripts -->
    <script type="text/javascript" src="js/app.js"></script>
    <!-- END scripts -->
  </body>
</html>
